* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.h1-home {
    text-align: center;
    color: tomato;
    margin-top: 30px;
}

.homepage {
    margin-left: 20px;
    margin-top: 70px;
    margin-right: 20px;
}

.table-home {
    text-align: center;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

.table-home th {
    padding: 10px;
    background-color: lightslategray;
    color: white;
}

.table-home tbody tr:nth-child(even) {
    background-color: rgb(229, 231, 233);
}

.table-home tbody td {
    padding: 8px;
}

.home-admin-link {
    text-decoration: none;
    float: right;
    margin-right: 40px;
    font-size: 20px;
    padding: 5px;
    background-color: lightslategray;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.home-admin-link:hover {
    background-color: rgb(187, 184, 184);
}

.homescreen h1 {
    /* margin-left: 470px; */
    text-align: center;
    margin-top: 100px;
    color: tomato;
}

.homescreen select {
    margin-left: 600px;
    margin-top: 50px;
    padding: 8px;
    width: 150px;

}

.madha {
    width: 100%;
    height: 640px;
}

footer {
    margin-top: 400px;
}

/* Media query for smaller screens (mobile devices) */
@media only screen and (max-width: 600px) {
    .homepage {
        margin: 20px;
        margin-top: 50px;
    }

    .homescreen h1 {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .home-admin-link {
        width: 90px;
        font-size: 16px;
        padding: 8px;
        float: right;
        margin: 10px auto;
    }

    .home-container select {
        padding: 8px;
        margin-top: 10px;
        margin-left: 5px;
        border: 1px solid lightslategray;
        background-color: lightslategray;
        color: white;
        border-radius: 5px;
    }

    .madha {
        width: 100%;
        height: 770px;
    }

    .homescreen h4 {
        width: 100%;
        margin-top: 180px;
        text-align: center;
    }
    .home-empty-data{
        color: red;
    }


}